<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Untitled Document</title>
</head>

<body >
  
  <h1 style="font-size: 30px; text-align: center; margin: 9px 0px;">Customer Copy</h1>

  <table width="100%" border="0" cellspacing="0" cellpadding="0" >
    <tr>
      <td width="49%">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;" align="left">
                    Customer Details</td>
                </tr>
                <tr>
                  <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="left">
                    <strong>Name:</strong> {{d_name}} </td>
                </tr>
                <tr>
                  <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="left">
                    <strong>Address: </strong> {{d_address}}</td>
                </tr>
                <tr>
                  <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="left">
                    <strong>Phone: </strong> {{d_phone}}</td>
                </tr>
                <tr>
                  <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" align="left">
                    <strong>Email: </strong> {{d_email}} </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr style="background-color: #8df7ff; ">
            <td
              style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333; padding-top: 4px;"
              width="34%" height="32" align="center">Item</td>
            <td
              style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 4px;"
              width="30%" align="center"> Category </td>
            <td
              style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 4px;"
              width="30%" align="center">Price</td>
            <td
              style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 4px;"
              width="30%" align="center">Quantity</td>
            <td
              style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px; border-top:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 4px;"
              width="30%" align="center">TOTAL</td>
          </tr>
          {% for i in data %}
          <tr>
            <td
              style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-left:1px solid #333; border-right:1px solid #333; padding-top: 4px;"
              height="32" align="center"> {{i.item}} </td>
            <td
              style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 4px;"
              align="center">{{i.catagory}}</td>
            <td
              style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 4px;"
              align="center">Rs {{i.price}}</td>
            <td
              style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 4px;"
              align="center">{{i.quantity}}</td>
            <td
              style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px; border-bottom:1px solid #333; border-right:1px solid #333; padding-top: 4px;"
              align="center">RS {{i.total}}</td>
          </tr>
          {% endfor %}
          <tr>
            <td></td>
            <td></td>
            <td
              style="font-family:Verdana, Geneva, sans-serif; font-weight:bolder; font-size:13px; padding-top: 5px; font-size: 19px;"
              height="32" align="center" colspan="2">GRAND TOTAL</td>
            <td
              style="font-family:Verdana, Geneva, sans-serif; font-weight:bolder; font-size:13px; padding-top: 5px; font-size: 19px;"
              height="32" align="center">Rs {{g_total}}</td>

          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:13px;" colspan="2">Thankyou for
        your Purchase!</td>
    </tr>
    <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:13px;" colspan="2" align="center">
        (This is computer generated receipt and does not require physical signature.) </td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
  </table>
</body>

</html>